name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: pmoise021/hello-world-python:latest

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Deploy to server via SSH
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@144.126.208.105 << 'EOF'
          docker pull pmoise021/hello-world-python:latest
          docker stop hello-world-app || true
          docker rm hello-world-app || true
          docker run -d --name hello-world-app -p 80:8080 pmoise021/hello-world-python:latest
        EOF

